//整体背景设置
body {
	background:url(/self/bgd.jpg);// 设定背景图片,images同处于source文件夹下
	background-repeat: no-repeat;// 设定背景图片非重复填充
	background-attachment:fixed;// 设置背景图片不随页面滚动
	background-position:50% 50%;// 设置背景图片位置
	background-size: cover// 设置保持图像的纵横比并将图像缩放成将完全覆盖背景定位区域的最小大小
}

//设置透明度
.main-inner{
	opacity: 0.93;
}
.header-inner{
	opacity: 0.93;
	z-index: 10;
}

//去掉顶部黑线
.headband{
  display: none;
}

//页面内容框样式
.post-block{
margin-top: 40px;
margin-bottom: 30px;
}

.hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
.posts-expand .post-meta {
margin-bottom: 10px;
}

//页脚文字颜色
//.footer-inner{
//
//  color: #ffffff;
//}